
<div class="banner" style="background-image: url(<%= asset_url('banner.jpg') %>);">
  <div class="container">
    <h1>LeWagon Cocktails</h1>
    <p>Awesome beverages for developers nightlife</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>

  
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 400, width: 300, crop: :fit %>')">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
     <% end %>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Ericchen0108" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/eric-chen-693734175/"><i class="fab fa-linkedin" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2020 EricChen at Le Wagon
  </div>
</div>

