.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: rgb(107, 223, 107);
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background: rgb(86, 179, 86);
    color: white;
  }